Django==5.2.6
django-summernote==0.8.20.0
django-storages==1.14.6
dj-database-url==3.0.1
python-decouple==3.8
psycopg2-binary==2.9.10
gunicorn

# DEBUG
ipython==9.5.0

# Sentry
sentry-sdk

# Tests
django-test-without-migrations
