{% extends 'base.html' %}

{% block content %}

<section class="py-5 text-center mt-5 home">
  <div class="container">
    
    <img src="#" class="rounded-circle mb-3" alt="Foto de perfil" />

    <h1 class="fw-bold">Olá, eu sou o Adriano 👋</h1>

    <p class="lead text-muted mx-auto">
      Sou desenvolvedor Python e especialista em Django, apaixonado por tecnologia, ensino e inovação.
      Tenho mais de 15 anos de experiência construindo soluções para o ecossistema web e orientando novos
      desenvolvedores a evoluírem suas carreiras.
    </p>
  </div>
</section>

{% endblock %}