{% extends "blog/base_blog.html" %}

<!-- Page Header-->
{% block blog_header %}
<div class="page-heading">
  <h1>About Me</h1>
  <span class="subheading">This is what I do.</span>
</div>
{% endblock blog_header %}

{% block blog_content %}

<div class="about">
  <h2>Olá, eu sou o Adriano 👋</h2>
  <p>
    Sou apaixonado por <strong>tecnologia, ensino e propósito</strong>. Há mais de 15 anos trabalho com
    <strong>Python e Django</strong>, liderando equipes e arquitetando sistemas complexos em nuvem.
  </p>

  <p>
    Também sou <strong>mestrando em Computação Aplicada pela UCS</strong>, pesquisando <strong>sobre Inteligência Artificial</strong>, 
    e entusiasta de temas como Big Data, ETL, orquestração distribuída e aprendizado de máquina aplicado a problemas reais.
  </p>

  <p>
    Além do código, tenho uma grande paixão por <strong>ensinar</strong>. Criei o projeto
    <strong>Palestrinha.dev</strong> e a <strong>Mentoria Django</strong>, onde ajudo desenvolvedores a
    construírem projetos reais e acelerarem suas carreiras com boas práticas, deploys modernos e mentalidade de
    produto.
  </p>

  <p>
    Acredito que <strong>compartilhar conhecimento é o que faz a tecnologia evoluir</strong> — e que cada linha
    de código pode transformar uma história.</p>

  <p>
    Quando não estou programando, gosto de <strong>viajar</strong>, <strong>pescar</strong> e estar em contato com a
    <strong>natureza</strong> 🌙🐟🌿
  </p>

  <p>
    <strong>Vamos construir algo incrível juntos?</strong>
  </p>
</div>
{% endblock blog_content %}